In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
nameList = ['Albania','Austria','Belarus', 'Belgium','Bulgaria','Croatia','Cyprus',
            'Czech Republic','Denmark','Estonia', 'Finland','France','Germany',
            'Greece','Hungary','Iceland','Ireland','Italy', 'Latvia','Lithuania',
            'Luxembourg','Macedonia','Malta','Montenegro','Netherlands', 'Norway',
            'Poland','Portugal','Romania','Russia','Serbia','Slovenia','Spain',
            'Sweden','Switzerland','United Kingdom','Turkey','Ukraine']
energy2010List = [1947, 8347, 3564, 8369, 4560, 3814, 4623, 6348, 6328, 6506, 16483,
                  7736, 7264, 5318, 3876, 51440, 5911, 5494, 3230, 3471, 16830, 3521,
                  4171, 5420, 7010, 24891, 3797, 4959, 2551, 6410, 4359, 6521, 5707, 
                  14934, 8175, 2498, 3550, 5701]
energy2012List = [2118, 8507, 3698, 7987, 4762, 3819, 4057, 6305, 6039, 6689, 15687, 
                  7344, 7270, 5511, 3919, 53203, 5665, 5398, 3588, 3608, 14696, 3626,
                  4761, 5416, 6871, 23658, 3899, 4736, 2604, 6617, 4387, 6778, 5573,
                  14290, 7886, 2794, 3641, 5452]

In [3]:
nameSeries = pd.Series(nameList)
energy2010Series = pd.Series(energy2010List)
energy2012Series = pd.Series(energy2012List)

In [4]:
nameSeries

0            Albania
1            Austria
2            Belarus
3            Belgium
4           Bulgaria
5            Croatia
6             Cyprus
7     Czech Republic
8            Denmark
9            Estonia
10           Finland
11            France
12           Germany
13            Greece
14           Hungary
15           Iceland
16           Ireland
17             Italy
18            Latvia
19         Lithuania
20        Luxembourg
21         Macedonia
22             Malta
23        Montenegro
24       Netherlands
25            Norway
26            Poland
27          Portugal
28           Romania
29            Russia
30            Serbia
31          Slovenia
32             Spain
33            Sweden
34       Switzerland
35    United Kingdom
36            Turkey
37           Ukraine
dtype: object

In [5]:
energy2010Series

0      1947
1      8347
2      3564
3      8369
4      4560
5      3814
6      4623
7      6348
8      6328
9      6506
10    16483
11     7736
12     7264
13     5318
14     3876
15    51440
16     5911
17     5494
18     3230
19     3471
20    16830
21     3521
22     4171
23     5420
24     7010
25    24891
26     3797
27     4959
28     2551
29     6410
30     4359
31     6521
32     5707
33    14934
34     8175
35     2498
36     3550
37     5701
dtype: int64

In [6]:
energy2012Series

0      2118
1      8507
2      3698
3      7987
4      4762
5      3819
6      4057
7      6305
8      6039
9      6689
10    15687
11     7344
12     7270
13     5511
14     3919
15    53203
16     5665
17     5398
18     3588
19     3608
20    14696
21     3626
22     4761
23     5416
24     6871
25    23658
26     3899
27     4736
28     2604
29     6617
30     4387
31     6778
32     5573
33    14290
34     7886
35     2794
36     3641
37     5452
dtype: int64

### average energy consumption in Europe in 2010

In [8]:
mean2010 = energy2010Series.mean()
print(f'Average energy consumption in Europe in 2010: {mean2010}')

Average energy consumption in Europe in 2010: 7779.8421052631575

### average energy consumption in Europe in 2012

In [9]:
mean2012 = energy2012Series.mean()
print(f'Average energy consumption in Europe in 2012: {mean2012}')

Average energy consumption in Europe in 2012: 7706.815789473684

### filter values above mean

In [10]:
filterAboveMean2010 = energy2010Series > mean2010

In [11]:
filterAboveMean2012 = energy2012Series > mean2012

### countries with higher than average energy consumption in 2010 and 2012

In [12]:
nameSeries.where(filterAboveMean2010 & filterAboveMean2012).dropna()

1         Austria
3         Belgium
10        Finland
15        Iceland
20     Luxembourg
25         Norway
33         Sweden
34    Switzerland
dtype: object

### filter values below mean

In [13]:
filterBelowMean2010 = energy2010Series < mean2010

### countries with lower  than average energy consumption in 2010

In [14]:
nameSeries.where(filterBelowMean2010).dropna()

0            Albania
2            Belarus
4           Bulgaria
5            Croatia
6             Cyprus
7     Czech Republic
8            Denmark
9            Estonia
11            France
12           Germany
13            Greece
14           Hungary
16           Ireland
17             Italy
18            Latvia
19         Lithuania
21         Macedonia
22             Malta
23        Montenegro
24       Netherlands
26            Poland
27          Portugal
28           Romania
29            Russia
30            Serbia
31          Slovenia
32             Spain
35    United Kingdom
36            Turkey
37           Ukraine
dtype: object

### countries with lower than average consumption in 2010 and higher in 2012

In [15]:
nameSeries.where(filterBelowMean2010 & filterAboveMean2012).dropna()

Series([], dtype: object)

**Conclusion:** countries where energy(electricity) consumption was high in 2010 still remained high in 2012. Developed countries still needs more and more energy.