In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
countries = pd.read_csv('./data/survey_results_public.csv', usecols=['Country']).squeeze().dropna()
countries.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [3]:
'Spain' in countries

False

Explanation: the result is 'False' because 'in' operator check indexes by default. Name of coutries are values in data series. So we should use 'countries.values' instead, like this:

In [5]:
'Spain' in countries.values

True

In [6]:
'Wonderland' in countries.values

False