In [1]:
import pandas as pd

In [2]:
fuel = pd.read_csv('../../data_sets/fuel.csv', 
                   usecols=[
                       'vehicle_id',
                       'year',
                       'make',
                       'model',
                       'class',
                       'fuel_type',
                       'combined_mpg_ft1'
                   ],
                   index_col='vehicle_id',
                   low_memory=False)
fuel.head()

,year,make,model,class,fuel_type,combined_mpg_ft1
vehicle_id,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17

### show data from 'make' column

In [4]:
fuel['make'].head()

vehicle_id
26587    Alfa Romeo
27705    Alfa Romeo
26561    Alfa Romeo
27681    Alfa Romeo
27550    AM General
Name: make, dtype: object

In [7]:
fuel['make'].value_counts().head()

Chevrolet    3810
Ford         3155
Dodge        2531
GMC          2398
Toyota       1937
Name: make, dtype: int64

### show item by index

In [9]:
fuel.loc[1873]

year                           1986
make                     Mitsubishi
model                       Starion
class               Subcompact Cars
fuel_type                   Premium
combined_mpg_ft1                 19
Name: 1873, dtype: object

In [10]:
fuel.loc[1873, 'combined_mpg_ft1']

19

### max value in column

In [12]:
fuel['combined_mpg_ft1'].idxmax()

38431

In [13]:
fuel.loc[38431]

year                          2017
make                       Hyundai
model               Ioniq Electric
class                 Midsize Cars
fuel_type              Electricity
combined_mpg_ft1               136
Name: 38431, dtype: object

chaining methods

In [14]:
fuel.loc[fuel['combined_mpg_ft1'].idxmax()]

year                          2017
make                       Hyundai
model               Ioniq Electric
class                 Midsize Cars
fuel_type              Electricity
combined_mpg_ft1               136
Name: 38431, dtype: object

### creating new data frame objects from data frame object

In [16]:
shortFuel = fuel[['make', 'model']]
shortFuel.head()

                  make               model
vehicle_id
26587       Alfa Romeo           GT V6 2.5
27705       Alfa Romeo           GT V6 2.5
26561       Alfa Romeo  Spider Veloce 2000
27681       Alfa Romeo  Spider Veloce 2000
27550       AM General   DJ Po Vehicle 2WD