In [2]:
import pandas as pd
import numpy as np

In [3]:
surveys = pd.read_csv('../../course-files/StackOverflowDeveloperSurvey2018.csv', 
                      usecols=[
                              'Country',
                              'Gender',
                              'OperatingSystem'
                          ],
                      low_memory=False
                     )
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

### checking if 'Country' series contains unique values

In [4]:
surveys.Country.is_unique

False

In [5]:
surveys.Country.unique()[:20]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel',
       'Sweden', 'Chile', 'Australia', 'Greece', 'Poland', 'Belgium',
       'Argentina', 'Germany', 'Russian Federation', 'Indonesia'],
      dtype=object)

### number of unique values without NaN

In [6]:
surveys.Country.nunique()

183

### number of unique values with NaN

In [7]:
len(surveys.Country.unique())

184

In [8]:
duplicatedKeepFirst = surveys.duplicated(subset='Country')

In [9]:
surveys[~duplicatedKeepFirst].head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

In [10]:
len(surveys[~duplicatedKeepFirst])

184

In [11]:
surveys.drop_duplicates(subset=['Country', 'OperatingSystem'], inplace=True)

In [12]:
surveys.query('Country == "Poland"')

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN