In [1]:
import pandas as pd

In [2]:
fuel = pd.read_csv('../../data_sets/fuel.csv', 
                   usecols=[
                       'vehicle_id',
                       'year',
                       'make',
                       'model',
                       'class',
                       'fuel_type',
                       'combined_mpg_ft1'],
                  low_memory=False)
fuel.head()

,vehicle_id,year,make,model,class,fuel_type,combined_mpg_ft1
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17

### basic information about data

In [3]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38113 entries, 0 to 38112
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   vehicle_id        38113 non-null  int64
 1   year              38113 non-null  int64
 2   make              38113 non-null  object
 3   model             38113 non-null  object
 4   class             38113 non-null  object
 5   fuel_type         38113 non-null  object
 6   combined_mpg_ft1  38113 non-null  int64
dtypes: int64(3), object(4)
memory usage: 2.0+ MB

### type of each column

In [4]:
fuel.dtypes

vehicle_id           int64
year                 int64
make                object
model               object
class               object
fuel_type           object
combined_mpg_ft1     int64
dtype: object

### using each type of data

In [5]:
fuel.dtypes.value_counts()

object    4
int64     3
dtype: int64

### amount of car's model produced by each brand

In [7]:
fuel['make'].value_counts().head(10)

Chevrolet        3810
Ford             3155
Dodge            2531
GMC              2398
Toyota           1937
BMW              1712
Nissan           1372
Mercedes-Benz    1349
Volkswagen       1069
Mitsubishi       1029
Name: make, dtype: int64

### index of data frame object

In [9]:
fuel.index

RangeIndex(start=0, stop=38113, step=1)

### information about each column

In [10]:
fuel.columns

Index(['vehicle_id', 'year', 'make', 'model', 'class', 'fuel_type',
       'combined_mpg_ft1'],
      dtype='object')

### information about values

In [11]:
fuel.values

array([[26587, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20],
       [27705, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20],
       [26561, 1984, 'Alfa Romeo', ..., 'Two Seaters', 'Regular', 21],
       ...,
       [37548, 2017, 'Volvo', ..., 'Standard Sport Utility Vehicle 4WD',
        'Premium', 23],
       [37703, 2017, 'Volvo', ..., 'Standard Sport Utility Vehicle 4WD',
        'Premium and Electricity', 25],
       [37687, 2017, 'Volvo', ..., 'Standard Sport Utility Vehicle 2WD',
        'Premium', 24]], dtype=object)

### info about object's axes

In [12]:
fuel.axes

[RangeIndex(start=0, stop=38113, step=1),
 Index(['vehicle_id', 'year', 'make', 'model', 'class', 'fuel_type',
        'combined_mpg_ft1'],
       dtype='object')]

### info about object's shape

In [13]:
fuel.shape

(38113, 7)

### number of records in each column
**when value is NaN it's not counted**

In [14]:
fuel.count()

vehicle_id          38113
year                38113
make                38113
model               38113
class               38113
fuel_type           38113
combined_mpg_ft1    38113
dtype: int64

### total number of data elements (data rows)

In [15]:
len(fuel)

38113