In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

### import .csv file as single column DataFrame object

In [2]:
education = pd.read_csv('./data/survey_results_public.csv', usecols=['FormalEducation'])
type(education)

pandas.core.frame.DataFrame

### display first 5 columns in DataFrame

In [3]:
education.head()

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

### import .csv file as single column DataSeries

In [8]:
educationAsDataSeries = pd.read_csv('./data/survey_results_public.csv', 
                                    usecols=['FormalEducation']).squeeze()
type(educationAsDataSeries)

pandas.core.series.Series

### display 5 last columns in DataSeries

In [9]:
educationAsDataSeries.tail(10)

51382                                      Master's degree
51383               I never completed any formal education
51384                                    Bachelor's degree
51385                                      Master's degree
51386    Some college/university study without earning ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

### import all data from .csv file as DataFrame

In [10]:
allInfo = pd.read_csv('./data/survey_results_public.csv')

In [11]:
country = allInfo['Country']

In [12]:
country.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [13]:
filterOnlyUSA = country == 'United States'
filterOnlyUSA.head()

0     True
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

method chaining

In [14]:
educationAsDataSeries.where(filterOnlyUSA).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object