In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
salary = pd.read_csv('./data/survey_results_public.csv', usecols=['Salary']).squeeze().dropna()
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

### amount of people who responds about their salary

In [3]:
len(salary)

12891

### lowest salary

In [4]:
min(salary)

0.0

### highest salary

In [5]:
max(salary)

197000.0

### convert PANDAS' data series to list and dictionary

In [6]:
list(salary.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [7]:
dict(salary.head())

{2: 113750.0, 14: 100000.0, 17: 130000.0, 18: 82500.0, 22: 100764.0}

### data series with sorted( )
**it converts data series to list**

In [8]:
listSalarySorted = sorted(salary, reverse=True)

### display first 5 elements

In [9]:
listSalarySorted[:5]

[197000.0, 195000.0, 195000.0, 195000.0, 195000.0]

### rename the 'Name' attribute

In [10]:
salary.name = 'Salary of a person'

In [11]:
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary of a person, dtype: float64