In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
salary = pd.read_csv('./data/survey_results_public.csv', usecols=['Salary']).squeeze().dropna()
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

### sorting data with PANDAS methods sort_index and sort_values

In [3]:
salary.sort_values(ascending=False).head()

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [4]:
salary.sort_values().head()

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [5]:
salary.sort_values(ascending=False, inplace=True)
salary.head()

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [6]:
salary.sort_index(ascending=False)

51390     40000.000000
51387     58000.000000
51382     32258.064516
51378    107526.881720
51371     74193.548387
             ...
22       100764.000000
18        82500.000000
17       130000.000000
14       100000.000000
2        113750.000000
Name: Salary, Length: 12891, dtype: float64

### 100 highest salaries

In [7]:
maxSalaries = salary.sort_values(ascending=False).head(100)

In [8]:
maxSalaries

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
           ...
29971    170000.0
41214    170000.0
45384    170000.0
14805    170000.0
29662    170000.0
Name: Salary, Length: 100, dtype: float64

### 100 lowest salaries

In [9]:
minSalaries = salary.sort_values().head(100)
minSalaries

2951       0.000000
23907      0.000000
44841      0.000000
4517       0.000000
51144      0.000000
            ...
26905    176.185582
33212    178.784267
50569    198.208780
48674    198.649186
1077     200.000000
Name: Salary, Length: 100, dtype: float64

### average salaries for maxSalaries and minSalaries

In [10]:
print(f'Average salary for maxSalairies: {maxSalaries.mean()}')
print(f'Average salary for minSalairies: {minSalaries.mean()}')

Average salary for maxSalairies: 180198.1045586777
Average salary for minSalairies: 67.08388907133795