In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [3]:
age = ['to 6', '7-14', '15-17', '18-24', '25-39', '40-59', '60 and more']
incidents = [14, 334, 312, 5823, 9491, 7486, 4343]
AgeIncidentsSeries = pd.Series(data=incidents, index=age)
AgeIncidentsSeries

to 6             14
7-14            334
15-17           312
18-24          5823
25-39          9491
40-59          7486
60 and more    4343
dtype: int64

In [4]:
AgeIncidentsSeries.where(AgeIncidentsSeries > 1000)

to 6              NaN
7-14              NaN
15-17             NaN
18-24          5823.0
25-39          9491.0
40-59          7486.0
60 and more    4343.0
dtype: float64

In [5]:
AgeIncidentsSeries.where(AgeIncidentsSeries > 1000).dropna()

18-24          5823.0
25-39          9491.0
40-59          7486.0
60 and more    4343.0
dtype: float64

In [6]:
incident1000 = AgeIncidentsSeries.where(AgeIncidentsSeries > 1000).dropna()

In [7]:
incident1000

18-24          5823.0
25-39          9491.0
40-59          7486.0
60 and more    4343.0
dtype: float64

In [8]:
AgeIncidentsSeries

to 6             14
7-14            334
15-17           312
18-24          5823
25-39          9491
40-59          7486
60 and more    4343
dtype: int64

In [9]:
AgeIncidentsSeries.filter(items=['18-24', '25-39', '40-59'])

18-24    5823
25-39    9491
40-59    7486
dtype: int64

In [10]:
AgeIncidentsSeries.where(AgeIncidentsSeries <= 1000, inplace=True)
AgeIncidentsSeries.dropna(inplace=True)

In [11]:
AgeIncidentsSeries

to 6      14.0
7-14     334.0
15-17    312.0
dtype: float64