In [1]:
import pandas as pd

In [2]:
fortune500 = pd.read_csv('./data/fortune_500_2017.csv', 
                         usecols=['Rank', 'Title'], 
                         index_col=['Rank']).squeeze()
fortune500.head()

Rank
1               Walmart
2    Berkshire Hathaway
3                 Apple
4           Exxon Mobil
5              McKesson
Name: Title, dtype: object

### Top 10 companies at Fortune500 list

In [3]:
fortune500[:10]

Rank
1                Walmart
2     Berkshire Hathaway
3                  Apple
4            Exxon Mobil
5               McKesson
6     UnitedHealth Group
7             CVS Health
8         General Motors
9                   AT&T
10            Ford Motor
Name: Title, dtype: object

### Last 20 companies at Fortune500 list

In [4]:
fortune500[-20:]

Rank
481           Booz Allen Hamilton Holding
482                              Chemours
483    Western & Southern Financial Group
484                              Celanese
485                   Windstream Holdings
486                              Seaboard
487                             Essendant
488                                Apache
489                                Airgas
490                        Kelly Services
491                         Liberty Media
492                      Rockwell Collins
493             Robert Half International
494                             CH2M Hill
495                              Big Lots
496                         Michaels Cos.
497                         Toll Brothers
498                                 Yahoo
499                         Vistra Energy
500                        ABM Industries
Name: Title, dtype: object

### import data with another index column

In [5]:
fortune500Employees = pd.read_csv('./data/fortune_500_2017.csv', 
                                  usecols=['Title', 'Employees'], 
                                  index_col='Title').squeeze()
fortune500Employees.head()

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
Name: Employees, dtype: int64

### number of employees for IBM, Alphabet, Facebook and Apple

In [6]:
companiesToCheck = ['IBM', 'Alphabet', 'Facebook', 'Apple']

In [9]:
fortune500Employees.loc[fortune500Employees.index.intersection(companiesToCheck)]

Title
Apple       116000
Alphabet     72053
IBM         414400
Facebook     17048
Name: Employees, dtype: int64

### number of employees for companies from IBM to Intel

In [10]:
fortune500Employees.loc['IBM':'Intel']

Title
IBM                          414400
State Farm Insurance Cos.     68234
Phillips 66                   14800
Johnson & Johnson            126400
Procter & Gamble             105000
Valero Energy                  9996
Target                       323000
Freddie Mac                    5982
Loweâ€™s                       240000
Dell Technologies            138000
MetLife                       58000
Aetna                         49500
PepsiCo                      264000
Archer Daniels Midland        31800
UPS                          335520
Intel                        106000
Name: Employees, dtype: int64