In [1]:
import pandas as pd
import random as rd

In [2]:
airplanesDict = {'PYT001': 'Airbus 320', 'PYT002': 'Boeing 737', 'PYT003': 'Airbus 321'}

In [3]:
airplanes = pd.Series(airplanesDict)
airplanes.head()

PYT001    Airbus 320
PYT002    Boeing 737
PYT003    Airbus 321
dtype: object

In [4]:
type(airplanes)

pandas.core.series.Series

In [5]:
flightsList = []
for _ in range(100):
    flightsList.append(rd.choice(airplanes.index))

flightsList[:5]

['PYT003', 'PYT002', 'PYT002', 'PYT001', 'PYT003']

In [6]:
flights = pd.Series(flightsList)
flights.head()

0    PYT003
1    PYT002
2    PYT002
3    PYT001
4    PYT003
dtype: object

In [7]:
flights_airplanes = flights.map(airplanes)
flights_airplanes.head()

0    Airbus 321
1    Boeing 737
2    Boeing 737
3    Airbus 320
4    Airbus 321
dtype: object